extends template.pug

block title
    if(username)
        title #{username} | Night-Life
    else 
        title Night-Life

block content
    div.row.middle-middle-row
        div.row.container-body
        div.row.container-footer