
.modal-hidden .modal .modal-dialog .modal-content {
    border: none;
    background: #F7D4DC;
    color: #2A0934;
    border-radius: 0;
}

.modal-hidden .modal .modal-dialog .modal-content .modal-body a {
    color: #2A0934;
}

.modal-hidden .modal .modal-dialog .modal-content .modal-body a:hover {
    text-decoration: underline;
}

.page-hidden {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F7D4DC;
    display: none;
    opacity: 0.7;
    z-index: 101;
}

.page-hidden .loader {
    position: absolute;
    top: 45%;
    left: 46%;
    border: 20px solid #F7D4DC;
    border-radius: 50%;
    border-bottom: 20px solid #D61A46;
    border-top: 20px solid #D61A46;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.page-hidden .loader-text {
    position: absolute;
    top: 35%;
    left: 45%;
    font-size: 54px;
    color: #D61A46;
}

.top-hidden {
    height: auto;
}

.top {
    height: 100%;
}

.middle {
    height: auto;
    padding: 0;
}

.bottom {
    height: auto;
}

.top .top-top-row a {
    font-size: x-large; 
}

.top .top-middle-row,
.top .top-middle-row .top-middle-row-col {
    width: 100%;
    padding: 0%;
}

.top .top-middle-row .top-middle-row-col .input-group {
    display: block;
    width: 100%;
}

.top .top-middle-row .top-middle-row-col .input-group input,
.top .top-middle-row .top-middle-row-col .input-group span {
    font-size: x-large;
    border: none;
}

.top-hidden .top-hidden-row a {
    font-size: x-large; 
}

.top-hidden .top-hidden-row .top-hidden-col-middle .input-group {
    display: none;
}

.top-hidden .top-hidden-row .top-hidden-col-right .dropdown .dropdown-menu,
.top .top-top-row .top-top-row-col .dropdown .dropdown-menu {
    margin-left: 40%;
    font-size: large;
}

.middle .middle-top-row {
    width: 100%;
    height: auto;
}

.middle .middle-middle-row {
    width: 100%;
    padding: 0;
}

.middle .middle-middle-row .container-body {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 22%;
}

.middle .middle-middle-row .container-body .panel {
    overflow: visible;
}

.middle .middle-middle-row .container-body .panel .media-body .image-responsive {
    float: none;
    width: 100%;
    height: 300px;
}

.middle .middle-middle-row .container-body .panel .media-body .media-info {
    padding: 2%;
    float: none;
    width: 100%;
    font-size: 110%;
}

.middle .middle-middle-row .container-body .panel .media-body .media-price {
    padding: 2%;
    float: none;
    width: 100%;
    font-size: 110%;
}

.middle .middle-middle-row .container-body .panel .media-body .media-links {
    padding: 2%;
    float: none;
    width: 100%;
    font-size: 110%;
}

.middle .middle-middle-row .container-body .panel .media-body .media-brand {
    padding: 2%;
    float: none;
    width: 100%;
    text-align: center;
}

.middle .middle-middle-row .container-footer {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.middle .middle-middle-row .container-footer .pager {
    font-size: x-large;
}
