
.modal-hidden .modal .modal-dialog .modal-content {
    border: none;
    background: #F7D4DC;
    color: #2A0934;
    border-radius: 0;
}

.modal-hidden .modal .modal-dialog .modal-content .modal-body a {
    color: #2A0934;
}

.modal-hidden .modal .modal-dialog .modal-content .modal-body a:hover {
    text-decoration: underline;
}

.page-hidden .loader {
    top: 45%;
    left: 40%;
}

.page-hidden .loader-text {
    top: 35%;
    left: 35%;
}

.top-hidden {
    height: auto;
}

.top {
    height: 100%;
}

.middle {
    height: auto;
    padding: 0;
}

.bottom {

}

.top .top-top-row a {
    font-size: x-large; 
}

.top .top-middle-row,
.top .top-middle-row .top-middle-row-col {
    width: 100%;
    padding: 0%;
}

.top .top-middle-row .top-middle-row-col .input-group {
    display: block;
    width: 100%;
}

.top .top-middle-row .top-middle-row-col .input-group input,
.top .top-middle-row .top-middle-row-col .input-group span {
    font-size: x-large;
    border: none;
}

.top-hidden .top-hidden-row a {
    font-size: x-large; 
}

.top-hidden .top-hidden-row .top-hidden-col-middle .input-group {
    display: none;
}

.top-hidden .top-hidden-row .top-hidden-col-right .dropdown .dropdown-menu,
.top .top-top-row .top-top-row-col .dropdown .dropdown-menu {
    margin-left: 40%;
    font-size: large;
}

.middle .middle-top-row {
    width: 100%;
    height: auto;
}

.middle .middle-middle-row {
    width: 100%;
    padding: 0;
}

.middle .middle-middle-row .container-body {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 22%;
}

.middle .middle-middle-row .container-body .panel {
    overflow: visible;
}

.middle .middle-middle-row .container-body .panel .media-body .image-responsive {
    float: none;
    width: 100%;
    height: 300px;
}

.middle .middle-middle-row .container-body .panel .media-body .media-info {
    padding: 2%;
    float: none;
    width: 100%;
    font-size: 110%;
}

.middle .middle-middle-row .container-body .panel .media-body .media-price {
    padding: 2%;
    float: none;
    width: 100%;
    font-size: 110%;
}

.middle .middle-middle-row .container-body .panel .media-body .media-links {
    padding: 2%;
    float: none;
    width: 100%;
    font-size: 110%;
}

.middle .middle-middle-row .container-body .panel .media-body .media-brand {
    padding: 2%;
    float: none;
    width: 100%;
    text-align: center;
}

.middle .middle-middle-row .container-footer {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.middle .middle-middle-row .container-footer .pager {
    font-size: x-large;
}
