@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

html, body {
    height : 100%;
}

.modal-hidden .modal .modal-dialog .modal-content {
    border: none;
    background: #F7DBFF;
    color: #2A0934;
    border-radius: 0;
}

.modal-hidden .modal .modal-dialog .modal-content .modal-footer .btn,
.modal-hidden .modal .modal-dialog .modal-content .modal-body a {
    border: none;
    background: #C91BFE;
    border-radius: 0;
}

.modal-hidden .modal .modal-dialog .modal-content .modal-footer .btn:hover,
.modal-hidden .modal .modal-dialog .modal-content .modal-body a:hover {
    border: none;
    background: #8601AF;
    border-radius: 0;
}

.page-hidden {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2A0934;
    display: none;
    opacity: 0.7;
    z-index: 100;
}

.page-hidden .loader {
    position: absolute;
    top: 45%;
    left: 48%;
    border: 20px solid #2A0934;
    border-radius: 50%;
    border-bottom: 20px solid #F7DBFF;
    border-top: 20px solid #F7DBFF;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.page-hidden .loader-text {
    position: absolute;
    top: 35%;
    left: 45%;
    font-size: 54px;
    color: #F7DBFF;
}

.top-hidden {
    position: fixed;
    width: 100%;
    height: 10%;
    background: #C91BFE;
    display: none;
}

.top {
    width: 100%;
    height: 70%;
    background: #C91BFE;
}

.middle {
    width: 100%;
    height: 25%;
    background: #F7DBFF;
}

.bottom {
    width: 100%;
    height: 5%;
    background: #2A0934;
}

.top-hidden .top-hidden-row,
.top .top-top-row {
    margin-top: 1%;
    color: #2A0934;
}

.top-hidden .top-hidden-row a,
.top .top-top-row a {
    display: block;
    color: #2A0934;
}

.top .top-middle-row {
    width: 80%;
    margin: 0 auto;
    margin-top: 6%;
    padding: 5%;
}

.top-hidden .top-hidden-row .top-hidden-col-middle,
.top .top-middle-row .top-middle-row-col {
    padding: 0;
}

.top .top-middle-row .top-middle-row-col h3 {
    opacity: 0.6;
}

.top-hidden .top-hidden-row .top-hidden-col-middle input,
.top-hidden .top-hidden-row .top-hidden-col-middle span,
.top-hidden .top-hidden-row .top-hidden-col-middle i,
.top .top-middle-row .top-middle-row-col input, 
.top .top-middle-row .top-middle-row-col span, 
.top .top-middle-row .top-middle-row-col i {
    border-radius: 0;
    background: #F7DBFF;
    color: #2A0934;
    opacity: 0.6;
}

.top .top-middle-row .top-middle-row-col .geo-alert {
    color: #950E17;
    opacity: 0.6;
}

.top .top-middle-row .top-middle-row-col .cursor-button:hover,
.top-hidden .top-hidden-row .top-hidden-col-middle .cursor-button:hover{
    cursor: pointer;
}

.top-hidden .top-hidden-row .top-hidden-col-right .dropdown .btn-dropdown,
.top .top-top-row .top-top-row-col .dropdown .btn-dropdown {
    border: none;
    border-radius: 0;
    background: #C91BFE;
    color: #2A0934;
}

.top-hidden .top-hidden-row .top-hidden-col-right .dropdown p,
.top .top-top-row .top-top-row-col .dropdown p {
    color: #2A0934;
    font-size: 10px;
}

.top-hidden .top-hidden-row .top-hidden-col-right .dropdown .dropdown-menu,
.top .top-top-row .top-top-row-col .dropdown .dropdown-menu {
    border-radius: 0;
    background: #8601AF;
    color: #2A0934;
    margin-left: 30%;
    padding: 1%;
}

.top-hidden .top-hidden-row .top-hidden-col-right .dropdown .dropdown-menu li,
.top-hidden .top-hidden-row .top-hidden-col-right .dropdown .dropdown-menu li a {
    font-size: 12px;
}

.top-hidden .top-hidden-row .top-hidden-col-right .dropdown .dropdown-menu li:hover,
.top .top-top-row .top-top-row-col .dropdown .dropdown-menu li:hover {
    background: #F7DBFF;
}

.middle .middle-top-row {
    width: 80%;
    height: 90%;
    margin: 0 auto;
    padding: 4%;
    color: #2A0934;
}

.middle .middle-middle-row {
    display: none;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    color: #2A0934;
    border: 1px solid black;
}

.middle .middle-middle-row .container-body {
    width: 100%;
    margin: 0 auto;
    margin-top: 6.5%;
    opacity: 0;
    padding: 0;
    border: 1px solid black;
}

.middle .middle-middle-row .container-footer {
    width: 100%;
    font-size: 12px;
    margin: 0 auto;
    opacity: 0;
    padding: 0;
    border: 1px solid black;
}

.middle .middle-middle-row .container-footer .pager {
    padding: 0;
}

.middle .middle-middle-row .container-footer .pager .previous a,
.middle .middle-middle-row .container-footer .pager .next a {
    border-radius: 0;
    background-color: #8601AF;
    color: #F7DBFF;
    box-shadow: 0 4px 8px 0 rgba(42, 9, 52, 0.2), 0 6px 20px 0 rgba(42, 9, 52, 0.19);
}

.middle .middle-middle-row .container-body .holder {
    width: 100%;
    margin-top: 0.8%;
    background-color: #8601AF;
    padding: 0.5%;
    box-shadow: 0 4px 8px 0 rgba(42, 9, 52, 0.2), 0 6px 20px 0 rgba(42, 9, 52, 0.19);
    border: 1px solid black;
}

.middle .middle-middle-row .container-body .holder .media-left {
    padding: 0;
    border: 1px solid black;
}

.middle .middle-middle-row .container-body .holder .media-left .media-object {
    border: 1px solid black;
}

.middle .middle-middle-row .container-body .holder .media-body .media-heading .media-title {
    color: #F7DBFF;
    border: 1px solid black;
}

.middle .middle-middle-row .container-body .holder .media-body .media-heading .rating-stars{
    border: 1px solid black;
}

.middle .middle-middle-row .container-body .holder .media-body .media-info {
    color: #2A0934;
    font-size: 12px;
    border: 1px solid #2A0934;
    padding: 0.5%;
}

.middle .middle-middle-row .container-body .holder .media-body .media-info a,
.middle .middle-middle-row .container-body .holder .media-body .media-info .media-adder {
    color: #C91BFE;
    font-style: italic;
    font-size: 12px;
}

.middle .middle-middle-row .container-body .holder .media-body .media-info a:hover,
.middle .middle-middle-row .container-body .holder .media-body .media-info .media-adder:hover {
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
}

.middle .middle-middle-row .container-body .holder .media-body .media-info .media-getter .list-fixed {
    display: none;
    border: none;
    position: fixed;
    border-radius: 0;
    list-style-type: none;
    background: #C91BFE;
    color: #2A0934;
    padding: 0.5%;
    box-shadow: 0 4px 5px 0 rgba(42, 9, 52, 0.2), 0 6px 10px 0 rgba(42, 9, 52, 0.19);
    z-index: 999;
}

.middle .middle-middle-row .container-body .holder .media-body .media-info .media-getter .list-fixed li {
    z-index: 999;
}

.middle .middle-middle-row .container-body .holder .media-body .media-info .media-getter .list-fixed li:hover {
    background: #3A004C;
}

.middle .middle-middle-row .container-body .holder .media-body .media-info .badge {
    background-color: #2A0934;
    color: #F7DBFF;
    font-size: 10px;
    border-radius: 0;
}

.middle .middle-middle-row .container-body .holder .media-body .image-holder {
    border: 1px solid black;
}

.bottom .bottom-row {
    width: 80%;
    margin: 0 auto;
    margin-top: 0.5%;
    color: #C91BFE;
}

.bottom .bottom-row span,
.bottom .bottom-row a {
    color: #C91BFE;
    font-size: 80%;
}