@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
    height : 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 0;
}

.modal-hidden .modal .modal-dialog .modal-content {
    border: none;
    background: #F7D4DC;
    color: #2A0934;
    border-radius: 0;
}

.modal-hidden .modal .modal-dialog .modal-content .modal-body a {
    color: #2A0934;
}

.modal-hidden .modal .modal-dialog .modal-content .modal-body a:hover {
    text-decoration: underline;
}

.page-hidden {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F7D4DC;
    display: none;
    opacity: 0.7;
    z-index: 101;
}

.page-hidden .loader {
    position: absolute;
    top: 45%;
    left: 46%;
    border: 20px solid #F7D4DC;
    border-radius: 50%;
    border-bottom: 20px solid #D61A46;
    border-top: 20px solid #D61A46;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.page-hidden .loader-text {
    position: absolute;
    top: 35%;
    left: 45%;
    font-size: 54px;
    color: #D61A46;
}

.top-hidden {
    position: fixed;
    width: 100%;
    height: 15%;
    background: #2A0934;
    display: none;
    z-index: 100;
}

.top {
    width: 100%;
    height: 80%;
    background: white;
    background-image: url('https://cdn.glitch.com/aa1f58fa-6cac-4f01-9f72-fdf6fa60b0a2%2Fnight-pic.jpg?1535124313793');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.middle {
    width: 100%;
    height: 14%;
    background: #F7DBFF;
}

.bottom {
    width: 100%;
    height: 6%;
    background: black;
}

.top .top-top-row {
    width: 100%;
    height: 10%;
    padding: 2%;
}

.top .top-top-row a {
    display: block;
    color: white;
    opacity: .8;
}

.top .top-middle-row {
    width: 80%;
    margin: 0 auto;
    height: 80%;
    padding: 5%;
}

.top .top-middle-row .top-middle-row-col {
    opacity: 0.8;
    color: #EC6584;
}

.top-hidden .top-hidden-row .top-hidden-col-middle input,
.top-hidden .top-hidden-row .top-hidden-col-middle span,
.top-hidden .top-hidden-row .top-hidden-col-middle i,
.top .top-middle-row .top-middle-row-col input, 
.top .top-middle-row .top-middle-row-col span, 
.top .top-middle-row .top-middle-row-col i {
    border-radius: 0;
    background: #F7DBFF;
    color: #2A0934;
    opacity: 0.6;
}

.top-hidden .top-hidden-row .top-hidden-col-middle span,
.top-hidden .top-hidden-row .top-hidden-col-middle i,
.top .top-middle-row .top-middle-row-col span, 
.top .top-middle-row .top-middle-row-col i {
    border: none;
}

.top .top-middle-row .top-middle-row-col .geo-alert {
    color: #950E17;
    opacity: 0.6;
}

.top .top-middle-row .top-middle-row-col .cursor-button:hover,
.top-hidden .top-hidden-row .top-hidden-col-middle .cursor-button:hover{
    cursor: pointer;
}

.top .top-bottom-row {
    width: 100%;
    height: 10%;
    color: gray;
}

.top .top-bottom-row p {
    float: right;
}

.top .top-bottom-row p a {
    color: gray;
}

.top-hidden .top-hidden-row {
    padding: 2%;    
}

.top-hidden .top-hidden-row a {
    color: white;
    opacity: 0.8;
}

.top-hidden .top-hidden-row .top-hidden-col-right .dropdown .dropdown-menu,
.top .top-top-row .top-top-row-col .dropdown .dropdown-menu {
    background: #2A0934;
    color: white;
    border-radius: 0;
    padding: 5px;
    margin-left: -25%;
}

.middle .middle-top-row {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 2%;
    color: #2A0934;
}

.middle .middle-middle-row {
    display: none;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    color: #2A0934;
}

.middle .middle-middle-row .container-body {
    width: 100%;
    height: auto;
    margin-top: 10%;
    opacity: 0;
    padding: 0;
}

.middle .middle-middle-row .container-body .panel {
    width: 100%;
    height: auto;
    margin-top: 0.8%;
    background-color: white;
    border-radius: 0;
    border: none;
    border-left: 5px solid #D61A46;
}

.middle .middle-middle-row .container-body .panel .media-body {
    padding: 0.5%;
}

.middle .middle-middle-row .container-body .panel .media-body .image-responsive {
    float: left;
    width: 20%;
    height: 150px;
}

.middle .middle-middle-row .container-body .panel .media-body .media-info {
    padding: 2%;
    float: left;
    width: 30%;
}

.middle .middle-middle-row .container-body .panel .media-body .media-info .media-title {
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}

.middle .middle-middle-row .container-body .panel .media-body .media-info .media-phone {
   margin-top: 1%;
}

.middle .middle-middle-row .container-body .panel .media-body .media-price {
    padding: 2%;
    float: left;
    width: 15%;
}

.middle .middle-middle-row .container-body .panel .media-body .media-links {
    padding: 2%;
    float: left;
    width: 20%;
}

.middle .middle-middle-row .container-body .panel .media-body .media-links a {
   color: #2A0934;
}

.middle .middle-middle-row .container-body .panel .media-body .media-links .media-adder:hover {
   cursor: pointer;
   text-decoration: underline;
}

.middle .middle-middle-row .container-body .panel .media-body .media-links .media-getter .dropdown-menu {
   border-radius: 0;
   height: auto;
   z-index: 99;
}

.middle .middle-middle-row .container-body .panel .media-body .media-brand {
    padding: 2%;
    float: left;
    width: 15%;
}

.middle .middle-middle-row .container-footer {
    width: 100%;
    opacity: 0;
    padding: 0;
}

.middle .middle-middle-row .container-footer .pager {
    font-size: larger;
}

.middle .middle-middle-row .container-footer .pager .previous a,
.middle .middle-middle-row .container-footer .pager .next a {
    color: #2A0934;
}

.bottom .bottom-row {
    width: 80%;
    margin: 0 auto;
    margin-top: 0.5%;
    color: #F79502;
}

.bottom .bottom-row span,
.bottom .bottom-row a {
    color: #F79502;
    font-size: 80%;
}